.card {
  width: 28%;
  margin: 1rem auto;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 15px #aaa;
  text-align: center;
  background-color: #f5f5dc;
}
@media screen and (max-width: 768px) {
  .card {
    width: 75%;
    margin: 1rem auto;
    padding: 2.2rem;
    border-radius: 8px;
    box-shadow: 0 2px 15px #aaa;
    text-align: center;
    background-color: #f5f5dc;
  }
}
