.profile {
  margin-top: 1rem;
}
.profile h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #007a7a;
}
.profile div {
  margin-top: 1.2rem;
  color: #222;
}
.profile div:nth-of-type(1),
.profile div:nth-of-type(3),
.profile div:nth-of-type(4) {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.profile div:nth-of-type(2) {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
}
