.counter-container {
  min-height: 90vh;
  background-color: #f5f5dc;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter-container .counter-heading {
  font-size: 2rem;
  font-weight: 800;
  color: #800000;
}
.counter-container .counter-body {
  padding: 2rem 0;
  width: 36%;
}
.counter-container .counter-body .counter-btn {
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  color: #f5f5dc;
  background-color: #800000;
  cursor: pointer;
  transition: 0.2s;
}
.counter-container .counter-body .counter-btn:hover {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.8);
}
