@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  width: 100%;
  margin: 0.5rem 0;
  font-family: "poppins", sans-serif;
  font-style: normal;
}
.header .hamburger-btn {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px #00a2ff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.header .navbar {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 12px #00a2ff;
  transition: 0.5s;
}
.header .navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header .navbar .logo img {
  width: 2vw;
  height: 5vh;
  border-radius: 50%;
}
.header .navbar .logo h2 {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 2px;
  color: #333;
}

/* TOP MENU */

.header .navbar .navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.header .navbar .navbar-nav .nav-item {
  float: left;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  color: #333;
  transition: 0.2s;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00a2ff;
}

@media screen and (max-width: 768px) {
  .header .hamburger-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 1px 6px #00a2ff;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: block;
  }
  .header .hamburger-btn:hover {
    box-shadow: 0 1px 10px #00a2ff;
  }
  .header .navbar {
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 1px 12px #00a2ff;
  }
  .header .navbar .logo img {
    width: 5vw;
    height: 4vh;
    border-radius: 50%;
  }
  .header .navbar .navbar-nav {
    text-align: center;
  }
  .header .navbar .navbar-nav .nav-item {
    float: none;
  }
}
