.hero {
  width: 100%;
  /* margin-top: 0.5rem; */
  min-height: 90vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  align-items: center;
}
.hero .hero-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
.hero .hero-container .hero-image {
  width: 50vw;
  height: 40vh;
  border-radius: 50%;
  background-image: url("../../assets/images/profile_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .hero-container .hero-info {
  text-align: center;
}
.hero .hero-container .hero-info h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 7px;
  margin-bottom: 2rem;
}
.hero .hero-container .hero-info p {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 3rem;
}
.hero .hero-container .hero-info a {
  padding: 0.8rem 4rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #00a2ff;
  color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 10px #aaa;
  transition: 0.2s;
}
.hero .hero-container .hero-info a:hover {
  background-color: #0084d1;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hero .hero-container .hero-image {
    display: none;
  }
  .hero .hero-container .hero-info h1 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 7px;
    margin-bottom: 2rem;
  }
  .hero .hero-container .hero-info p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 3rem;
  }
  .hero .hero-container .hero-info a {
    padding: 0.6rem 3.6rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #00a2ff;
    color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 10px #aaa;
    transition: 0.2s;
  }
}
