.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0 1px 12px #00a2ff;
  z-index: 1;
}
.side-menu .menu-link {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px #00a2ff;
  font-size: 1.2rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.side-menu .menu-link:hover {
  box-shadow: 0 1px 12px #00a2ff;
}

@media screen and (max-width: 768px) {
  .side-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 10px #00a2ff;
    z-index: 1;
  }
  .side-menu .menu-link {
    padding: 0.4rem;
    margin: 0.4rem;
    border-radius: 5px;
    box-shadow: 0 1px 5px #00a2ff;
    font-size: 1.1rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
  .side-menu .menu-link:hover {
    box-shadow: 0 1px 10px #00a2ff;
  }
}
