* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.btn {
  padding: 0.7rem 1rem;
  border: none;
  background-color: #b40000;
  color: #f5f5dc;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.btn:hover {
  background-color: #800000;
}
.app {
  width: 100%;
  min-height: 110vh;
  padding: 1rem 0;
  background-color: #f5f5dc;
}
.header {
  padding: 2rem 0;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #800000;
  text-align: center;
  margin-bottom: 2rem;
}
.sub-title {
  color: #b40000;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0.5rem;
  border-top: 3px solid #b40000;
  border-bottom: 3px solid #b40000;
  display: inline;
}
.about {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  text-align: center;
}

/* MENU */

.menu {
  width: 60%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
}
.item {
  display: flex;
  gap: 1rem;
  min-height: 25vh;
}
.item .item-image {
  width: 20vw;
  max-height: 22vh;
  border: 1px solid #333;
}
.item .item-desc .name {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #800000;
}
.item .item-desc p {
  font-size: 0.9rem;
  color: #333;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.item .item-desc .price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #800000;
}

/* FOOTER */

.app .footer {
  margin-top: 4rem;
  text-align: center;
}
.app .footer p {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.app .footer a {
  text-decoration: none;
  display: inline;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.7rem 4.2rem;
    border: none;
    background-color: #b40000;
    color: #f5f5dc;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }
  .btn:hover {
    background-color: #800000;
  }
  .title {
    font-size: 2.3rem;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #800000;
    text-align: center;
    margin-bottom: 2rem;
  }
  .sub-title {
    color: #b40000;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.4rem;
    border-top: 3px solid #b40000;
    border-bottom: 3px solid #b40000;
    display: inline;
  }
  .menu {
    width: 72%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .item .item-image {
    width: 100%;
    min-height: 36vh;
    border: 1px solid #333;
  }
  .item .item-desc {
    display: flex;
    flex-direction: column;
  }
  .item .item-desc .name {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #800000;
  }
  .item .item-desc p {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  .item .item-desc .price {
    font-size: 1.3rem;
    font-weight: 600;
    color: #800000;
  }
  .item .item-desc .checkout form .checkout-btn {
    margin: 1rem auto;
  }
}
